force-app/main/default/flows/Highlight_Badge_Action_Editor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Active_Flag</name>
        <label>Set Active Flag</label>
        <locationX>380</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>highlightBadgeAction.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivationToggle.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Input</name>
        <label>Set Flow Input</label>
        <locationX>512</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>strFlowInputScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Screen_Flow_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strFlowInputAutolaunched</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Autolaunched_Flow_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Button_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Highlight_Badge_Action_from_Existing</name>
        <label>Set Highlight Badge Action from Existing</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>highlightBadgeAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Highlight_Badge_Action</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultActiveStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>highlightBadgeAction.Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>highlightBadgeAction.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_isSuccess_Output_Variable</name>
        <label>Set isSuccess Output Variable</label>
        <locationX>512</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Record_Type_and_Definition</name>
        <label>Set Record Type and Definition</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>highlightBadgeAction.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_RecordType_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>highlightBadgeAction.Highlight_Badge_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>definitionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unbound_Input</name>
        <label>Set Unbound Input</label>
        <locationX>512</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>highlightBadgeAction.Flow_API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strFmlSelectedFlowApiName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>highlightBadgeAction.Icon_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Icon_Picker.iconName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Active_Flag</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_to_Autolaunched_Flows</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Autolaunched Flows</label>
        <locationX>226</locationX>
        <locationY>1274</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Autolaunched_Flows</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Flows</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Autolaunched_Flows.FlowType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>AutolnchNoTrig</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Action_Details_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Screen_Flows</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Screen Flows</label>
        <locationX>226</locationX>
        <locationY>1166</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Screen_Flows</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Flows</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Screen_Flows.FlowType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Screen</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_to_Autolaunched_Flows</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>RECORD_TYPE_FLOW</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow</stringValue>
        </value>
    </constants>
    <constants>
        <name>RECORD_TYPE_NAVIGATION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Navigation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Active_Flag</name>
        <label>Check Active Flag</label>
        <locationX>512</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Check_Mode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Inactive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>highlightBadgeAction.Active__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>highlightBadgeAction.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activation_Screen</targetReference>
            </connector>
            <label>Is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether to edit an existing record or create a new one</description>
        <name>Check_for_Action_ID</name>
        <label>Check for Action ID</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Select_Record_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Action ID Not Found</defaultConnectorLabel>
        <rules>
            <name>Has_Action_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Highlight_Badge_Action</targetReference>
            </connector>
            <label>Has Action ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Flow_Action</name>
        <label>Check for Flow Action</label>
        <locationX>512</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Action_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flow_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RECORD_TYPE_FLOW</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Flows</targetReference>
            </connector>
            <label>Is Flow Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Highlight_Badge_Action</name>
        <label>Check Get Highlight Badge Action</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Action Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Highlight_Badge_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Highlight_Badge_Action</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Highlight_Badge_Action_from_Existing</targetReference>
            </connector>
            <label>Got Highlight Badge Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mode</name>
        <label>Check Mode</label>
        <locationX>512</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Insert_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Insert</defaultConnectorLabel>
        <rules>
            <name>Is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highlightBadgeAction.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Action</targetReference>
            </connector>
            <label>Is Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_ScreenFlows</name>
        <label>Got ScreenFlows</label>
        <locationX>358</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Action_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Screen_Flows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_Screen_Flows</targetReference>
            </connector>
            <label>Has Screen Flows</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>collChoiceAutolaunchedFlows</name>
        <collectionReference>Filter_to_Autolaunched_Flows</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>FlowRecord</object>
        <valueField>ApiName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collChoiceScreenFlows</name>
        <collectionReference>Filter_to_Screen_Flows</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>FlowRecord</object>
        <valueField>ApiName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceActionRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Highlight_Badge_Action__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>strFmlSelectedFlowApiName</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL( {!highlightBadgeAction.Flow_Type__c}, &quot;Screen Flow&quot;),
  {!strFlowInputScreen},
  IF( ISPICKVAL( {!highlightBadgeAction.Flow_Type__c}, &quot;Autolaunched Flow&quot;),
    {!strFlowInputAutolaunched},
    &quot;&quot;
  )
)</expression>
    </formulas>
    <interviewLabel>Highlight Badge Action Editor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Highlight Badge Action Editor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Action</name>
        <label>Insert Action</label>
        <locationX>776</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Set_isSuccess_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>highlightBadgeAction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Flows</name>
        <label>Get Flows</label>
        <locationX>358</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Got_ScreenFlows</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>FlowType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </filters>
        <filters>
            <field>FlowType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutolnchNoTrig</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActiveVersionId__NotFound</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowRecord</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FlowLabel</queriedFields>
        <queriedFields>ApiName</queriedFields>
        <queriedFields>FlowType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Highlight_Badge_Action</name>
        <label>Get Highlight Badge Action</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Highlight_Badge_Action</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Highlight_Badge_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Action</name>
        <label>Update Action</label>
        <locationX>248</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Set_isSuccess_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>highlightBadgeAction</inputReference>
    </recordUpdates>
    <screens>
        <name>Action_Details_Screen</name>
        <label>Action Details Screen</label>
        <locationX>512</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Flow_Input</targetReference>
        </connector>
        <fields>
            <name>Flow_Settings_Section</name>
            <fieldText>Flow Settings</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flow_Settings_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Flow_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Input_Screen_Flow_Picklist</name>
                    <choiceReferences>collChoiceScreenFlows</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Highlight_Badge_Action.Flow_API_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Select Flow</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>highlightBadgeAction.Flow_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Screen Flow</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Input_Autolaunched_Flow_Picklist</name>
                    <choiceReferences>collChoiceAutolaunchedFlows</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>highlightBadgeAction.Flow_API_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Select Flow</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>highlightBadgeAction.Flow_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Autolaunched Flow</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flow_Settings_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Include_Display_Record_ID__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Include_Source_Record_ID__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>strRecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RECORD_TYPE_FLOW</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Navigation_Settings_Section</name>
            <fieldText>Navigation Settings</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Navigation_Settings_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Navigation_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.URL__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>highlightBadgeAction.Navigation_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Web Page</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>strRecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RECORD_TYPE_NAVIGATION</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Action_Information_Screen</name>
        <label>Action Information Screen</label>
        <locationX>512</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Flow_Action</targetReference>
        </connector>
        <fields>
            <name>Highlight_Badge_Action_Information_Section</name>
            <fieldText>Highlight Badge Action Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Highlight_Badge_Action_Information_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Active__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>defaultActiveStatus</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Sort_Order__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Activation_Screen</name>
        <label>Activation Screen</label>
        <locationX>380</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Active_Flag</targetReference>
        </connector>
        <fields>
            <name>Activation_Screen_Message</name>
            <fieldText>&lt;p&gt;This action is not currently active. Would you like to activate it now?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActivationToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Activate Highlight Badge Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>highlightBadgeAction.Active__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Button_Details_Screen</name>
        <label>Button Details Screen</label>
        <locationX>512</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Unbound_Input</targetReference>
        </connector>
        <fields>
            <name>Button_Display_Section</name>
            <fieldText>Button Display</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Button_Display_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Label__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Variant__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Button_Display_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Icon_Picker</name>
                    <extensionName>c:iconPickerFlowContainer</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <elementReference>highlightBadgeAction.Icon_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>highlightBadgeAction.Icon_Position__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1040</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Record_Type_Screen</name>
        <label>Select Record Type Screen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Record_Type_and_Definition</targetReference>
        </connector>
        <fields>
            <name>Input_RecordType_Radio</name>
            <choiceReferences>recChoiceActionRecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Action_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttDefaultErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>actionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Autolaunched_Flows</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowRecord</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Screen_Flows</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowRecord</objectType>
    </variables>
    <variables>
        <name>defaultActiveStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>definitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>highlightBadgeAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Highlight_Badge_Action__c</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>strFlowInputAutolaunched</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strFlowInputScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
